{% include "./head.html" %}
<title>登陆</title>


<div class="container">
<h2>请登陆 <a href="/user/register">没有账号</a>?</h2>
<br>
<div class="input-group">
<span class="input-group-addon">用户名</span>
	<input type="text" class="form-control" placeholder="" id="username">
</div>
<br>
<div class="input-group">
<span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp码</span>
	<input type="password" class="form-control" placeholder="" id="password">
</div>
<br>
<p><a class="btn btn-primary btn-lg" role="button" onclick=send()>
登陆</a>
</p>

<div id="reason" ></div>
</div>



<script>
    function send()
    {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        $.post('', {'username':username, 'password':password},
        function(data){
            if(data['message']=="success"){
                console.log('成功');
                var reasonDiv=document.getElementById("reason");
                var reason=document.createElement("b");
                reason.innerText='登陆成功,即将跳转';
                reasonDiv.appendChild(reason);
                document.location.href="/user";
            }else{
                console.log('失败');
                var reasonDiv=document.getElementById("reason");
                var reason=document.createElement("b");
                reason.innerText=data['reason'];
                reasonDiv.appendChild(reason);
                reasonDiv.appendChild(document.createElement("br"));
            }
        }
        );
    }
</script>