{% include "./head.html" %}
<title>重置密码</title>


<div class="container">
    <br>
        <div class="input-group" name="createComment">
            {% csrf_token %}
            <input type="password" class="form-control" placeholder="" id="password">
            <span class="input-group-addon" onclick=send()>重置密码</span>
        </div>
{% comment %} 
<label>新密码</label>
<input type="password" id="password"><br>

<input type="button" value="重置密码" onclick=send()> {% endcomment %}

</div>


<script>
    function send()
    {
        var password = document.getElementById("password").value;

        $.post('', {'password':password},
        function(data){
            if(data['message']=="success"){
                console.log('成功');
                document.location.href="/user/login";
            }
        }
        
        );
    }
</script>