<a href="/posting/createposting/">创建新帖子</a><hr>

{% comment %} post {% endcomment %}
{{post.title}}<br>
{{post.author}}<br>
{{post.body}}<br>
{{post.createDate}}<br>
{{post.updateDate}}<br>
{% comment %} comment {% endcomment %}
{%for i in comment%}

<hr>
<b>{{i.username}}</b><br>
{{i.body}}</br>
{{i.createDate}}

{% endfor %}
{% comment %} create comment {% endcomment %}

<form id="user_form" method="post" action="/posting/createcomment/{{post.id}}" enctype="multipart/form-data">
    {% csrf_token %}
     {{ commentForm.as_p }}
    <input type="submit" name="createComment" value="发送" />
</form>