重置密码<hr>
<label>用户名</label>
<input type="text" id="username"><br>

<label>原密码</label>
<input type="password" id="password"><br>

<label>新密码</label>
<input type="password" id="newpassword"><br>

<input type="button" value="重置密码" onclick=send()>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>

<script>
    function send()
    {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var password = document.getElementById("newpassword").value;

        $.post('', {'username':username, 'password':password, 'newpassword':newpassword});
    }
</script>